---
import SocialIcon from "./SocialIcon.astro";

interface Social {
  icon: "github" | "linkedIn" | "email" | "download";
  link: string;
  title?: string;
}

const socials: Social[] = [
  {
    icon: "github",
    link: "https://github.com/dracudev",
    title: "View GitHub Profile",
  },
  {
    icon: "linkedIn",
    link: "https://www.linkedin.com/in/javier-andreu-peralta/",
    title: "View LinkedIn Profile",
  },
  {
    icon: "email",
    link: "mailto:andreujavier99@gmail.com",
    title: "Send Email",
  },
  {
    icon: "download",
    link: "/cv-dracudev.pdf",
    title: "Download CV",
  },
];
---

<!-- Start: Social Links -->
<div class="flex flex-wrap gap-3 mt-6 justify-around">
  {
    socials.map((social) => (
      <a
        href={social.link}
        target={social.icon === "download" ? "_self" : "_blank"}
        title={social.title}
        rel={social.icon === "download" ? undefined : "noopener noreferrer"}
        download={
          social.icon === "download" ? "Javier_Andreu_CV.pdf" : undefined
        }
        class="flex items-center justify-center w-10 h-10 rounded-lg bg-black text-gray-100 transition-all duration-150 border border-gray-600 hover:bg-primary hover:-translate-y-0.5"
      >
        <SocialIcon icon={social.icon} />
      </a>
    ))
  }
</div>
<!-- End: Social Links -->
